# Spotify Tracks Chart Dataset (2014 - 2022)

## The Data

This dataset was pulled from Kaggle (https://www.kaggle.com/datasets/jfreyberg/spotify-chart-data?resource=download). It contains weekly data from Spotify track charts between 2014 to 2022.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('C:/Projects/Data Analysis/Spotify 2014 - 2022/charts.csv', low_memory = False)
df.head()

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
0,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-17,138,6584,['Maroon 5'],['pop'],239920,False
1,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-18,132,6963,['Maroon 5'],['pop'],239920,False
2,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-19,128,7049,['Maroon 5'],['pop'],239920,False
3,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-20,152,6976,['Maroon 5'],['pop'],239920,False
4,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-21,160,6156,['Maroon 5'],['pop'],239920,False

In [3]:
df.shape

(626475, 10)

In [4]:
df.dtypes

track_id         object
name             object
country          object
date             object
position          int64
streams          object
artists          object
artist_genres    object
duration          int64
explicit           bool
dtype: object

In [5]:
df = df[df['streams'].str.contains("\(") == False]
df.shape

(626369, 10)

In [6]:
df = df.astype({'date': 'datetime64[ns]', 'streams': int})
df.dtypes

track_id                 object
name                     object
country                  object
date             datetime64[ns]
position                  int64
streams                   int32
artists                  object
artist_genres            object
duration                  int64
explicit                   bool
dtype: object

In [7]:
find_null = df.isnull().sum()
find_null

track_id           0
name             138
country            0
date               0
position           0
streams            0
artists            0
artist_genres      0
duration           0
explicit           0
dtype: int64

In [8]:
null_data = df[df.isnull().any(axis=1)]
null_data = null_data.sort_values('artist_genres')
null_data.head()

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
122828,1YqcGlCHNquxBhlUZsjhMT,NaN,global,2017-11-09,32,1496980,['Various Artists'],[],0,True
122928,1YqcGlCHNquxBhlUZsjhMT,NaN,pa,2017-11-14,3,7734,['Various Artists'],[],0,True
122927,1YqcGlCHNquxBhlUZsjhMT,NaN,pa,2017-11-13,3,7476,['Various Artists'],[],0,True
122926,1YqcGlCHNquxBhlUZsjhMT,NaN,pa,2017-11-12,3,8928,['Various Artists'],[],0,True
122925,1YqcGlCHNquxBhlUZsjhMT,NaN,pa,2017-11-11,3,9294,['Various Artists'],[],0,True

In [9]:
null_data.tail()

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
122875,1YqcGlCHNquxBhlUZsjhMT,NaN,co,2017-11-14,4,45210,['Various Artists'],[],0,True
122876,1YqcGlCHNquxBhlUZsjhMT,NaN,cr,2017-11-09,1,25054,['Various Artists'],[],0,True
122877,1YqcGlCHNquxBhlUZsjhMT,NaN,cr,2017-11-10,1,27840,['Various Artists'],[],0,True
122871,1YqcGlCHNquxBhlUZsjhMT,NaN,co,2017-11-10,3,49178,['Various Artists'],[],0,True
122965,1YqcGlCHNquxBhlUZsjhMT,NaN,hu,2017-11-13,180,1006,['Various Artists'],[],0,True

In [10]:
df = df[df['name'].notna()]

find_null2 = df.isnull().sum()
find_null2

track_id         0
name             0
country          0
date             0
position         0
streams          0
artists          0
artist_genres    0
duration         0
explicit         0
dtype: int64

In [59]:
df.shape

(626231, 10)

In [11]:
df.artists = df.artists.str.replace('[', '', regex = True).replace(']', '', regex = True).replace("'", '', regex = True)
df.artist_genres = df.artist_genres.str.replace('[', '', regex = True).replace(']', '', regex = True).replace("'", '', regex = True)
df.head()

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
0,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-17,138,6584,Maroon 5,pop,239920,False
1,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-18,132,6963,Maroon 5,pop,239920,False
2,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-19,128,7049,Maroon 5,pop,239920,False
3,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-20,152,6976,Maroon 5,pop,239920,False
4,7GMeRGZax4uDKgz6wALWQw,It Was Always You,br,2015-03-21,160,6156,Maroon 5,pop,239920,False

In [12]:
#df['count_at_1'] = df.groupby(['artists', 'position'])['artists'].transform('count')
#df.head()

In [13]:
num_of_artists = df.artists.nunique()
print('There are ' + str(num_of_artists) + ' different artists in this dataframe.')

There are 3380 different artists in this dataframe.

In [68]:
xmas_df = df.loc[(df['date'] == '2021-12-25') & (df['country'] == 'us')]
xmas_df.sort_values(by = ['streams'], ascending = False)[:5]

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
85635,2EjXfH91m7f8HiJN1yQg97,Rockin' Around The Christmas Tree,us,2021-12-25,1,3905195,Brenda Lee,"lounge, rockabilly, brill building pop, easy l...",126266,False
524148,7vQbuQcyTflfCIOu3Uzzya,Jingle Bell Rock,us,2021-12-25,2,3433516,Bobby Helms,,130973,False
392352,1IcR6RlgvDczfvoWJSSY2A,It's the Most Wonderful Time of the Year,us,2021-12-25,3,3053842,Andy Williams,"adult standards, brill building pop, easy list...",151000,False
483119,0bYg9bo50gSsH3LtXe2SQn,All I Want for Christmas Is You,us,2021-12-25,4,3043472,Mariah Carey,"pop, dance pop, urban contemporary, r&b",241106,False
144878,65Q2mv3UlVi9eO70OpsmSe,A Holly Jolly Christmas - Single Version,us,2021-12-25,5,2652046,Burl Ives,"american folk revival, adult standards",135533,False

In [53]:
hween_df = df.loc[(df['date'] == '2021-10-31') & (df['country'] == 'us')]
hween_df.sort_values(by = ['streams'], ascending = False)[:5]

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
317828,0xxZY5C9xxij3D1HkzbnfC,Monster Mash,us,2021-10-31,1,1244523,"Bobby ""Boris"" Pickett, The Crypt-Kickers","halloween, novelty",192040,False
62648,3S2R0EVwBSAVMd5UMgKTL0,Thriller,us,2021-10-31,3,1118360,Michael Jackson,"pop, r&b, soul",357266,False
261774,5PIB8aoUJoCRh1O5TEGdOj,Ghostbusters,us,2021-10-31,5,1058311,Ray Parker Jr.,disco,240800,False
280172,7jwQlYGpOml9ETGre1HqGA,Somebody's Watching Me,us,2021-10-31,12,1028694,Rockwell,,298866,False
318689,4a9RlnJ0v1T7HgLtps1HvI,This Is Halloween,us,2021-10-31,7,943711,Disney Characters,disney,196560,False

In [92]:
fourth_df = df.loc[(df['date'] == '2021-07-04') & (df['country'] == 'us')]
fourth_df.sort_values(by = ['streams'], ascending = False)[:5]

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
369772,0dOg1ySSI7NkpAe89Zo0b9,Born in the U.S.A.,us,2021-07-04,21,598574,Bruce Springsteen,"rock, singer-songwriter, heartland rock, perma...",278680,False
587588,0M7mWKqwTIaVjYyxfZmtTa,"Courtesy Of The Red, White And Blue (The Angry...",us,2021-07-04,29,534697,Toby Keith,"contemporary country, country road, oklahoma c...",195533,False
621889,7z4xW9WY86uH3gd1V9pfCM,JUGGERNAUT (feat. Lil Uzi Vert & Pharrell Will...,us,2021-07-04,45,418345,"Tyler, The Creator, Lil Uzi Vert, Pharrell Wil...","trap, rap, pop, hip hop, melodic rap, philly rap",146419,True
484403,61tRRrJoargpHwT0uAEpuY,American Kids,us,2021-07-04,56,368404,Kenny Chesney,"contemporary country, country, country road",186546,False
327981,5rX6C5QVvvZB7XckETNych,All Summer Long,us,2021-07-04,64,347978,Kid Rock,"nu metal, alternative metal",297586,False

In [94]:
stpats_df = df.loc[(df['date'] == '2021-03-17') & (df['country'] == 'us')]
stpats_df.sort_values(by = ['streams'], ascending = False)[:5]

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
1195,7rSERmjAT38lC5QhJ8hnQc,I'm Shipping Up To Boston,us,2021-03-17,62,333862,Dropkick Murphys,"punk, celtic punk, boston rock, celtic rock, b...",153600,False
613553,2MZrOmrVxRmmOoFW6dhenG,LOST,us,2021-03-17,87,287357,"NF, Hopsin","conscious hip hop, pop rap, hip hop, rap",234852,False
318848,2NnJpRXIlx35Vij3bPZO0h,DAYWALKER! (feat. CORPSE),us,2021-03-17,97,275162,"Machine Gun Kelly, CORPSE","ohio hip hop, viral rap, dream smp, pop, pop rap",137746,True
345476,7o4gBbTM6UBLkOYPw9xMCz,Moonwalking in Calabasas (feat. Blueface) - Remix,us,2021-03-17,124,247023,"DDG, Blueface","viral rap, pop rap, trap, rap, cali rap",170232,True
421467,43BlKpJcSrC9AsJ3F1DKg9,Still Trappin' (with King Von),us,2021-03-17,128,244618,"Lil Durk, King Von","hip hop, trap, rap, chicago rap, chicago drill...",172185,True

In [96]:
tgiving_df = df.loc[(df['date'] == '2021-11-25') & (df['country'] == 'us')]
tgiving_df.sort_values(by = ['streams'], ascending = False)[:5]

,track_id,name,country,date,position,streams,artists,artist_genres,duration,explicit
204703,09u787BYeYIGd2mFIJ505t,Cry Your Heart Out,us,2021-11-25,48,410409,Adele,"pop soul, pop, uk pop, british soul",255278,False
499323,4CkgMiMqZ5JzW9iYXSTMTL,I Bet You Think About Me (feat. Chris Stapleto...,us,2021-11-25,54,396008,"Taylor Swift, Chris Stapleton","outlaw country, pop, contemporary country",285106,True
75714,13CVSGLSFl4UxpDVR6u3dq,Strangers By Nature,us,2021-11-25,56,390931,Adele,"pop soul, pop, uk pop, british soul",182163,False
496298,496vIKS2INz840xZaKncvR,All Night Parking (with Erroll Garner) Interlude,us,2021-11-25,66,366767,Adele,"pop soul, pop, uk pop, british soul",161829,False
319613,01K4zKU104LyJ8gMb7227B,Nothing New (feat. Phoebe Bridgers) (Taylor’s ...,us,2021-11-25,67,366322,"Taylor Swift, Phoebe Bridgers","la indie, indie pop, pop",258812,False